.about-section {
  img{
    border: #34ce57 2px solid;
  }
  padding-top: 10rem;
  border: 2px solid #c69500;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
